<header>
    <div id="header" class="partial">
      <a href="/">Main page |</a>
      <a href="/cesar"> Caesar cipher |</a>
      <a href="/vigener"> Vigenere cipher |</a>
      <a href="/playFair"> Play fair cipher |</a>
      <a href="/cryptogram"> cryptogram |</a>
      <a href="/polyalphabetic"> polyalphabetic </a>
    </div>
</header>
